= `Prezado(a), ${name}. `
= `Segue em anexo os dados do piloto estudo ${pilot_study}, solicitados em ${request_date}.`
= 'Os dados também estão disponíveis no dashboard para você consultar a qualquer momento.'

= 'Obrigado,'
= 'Equipe HANIoT'
