= `Olá ${name}. `

= 'Recentemente você solicitou redefinir sua senha da conta na plataforma HANIoT. Use o botão abaixo para redefini-la. Essa redefinição de senha só é válida pelas próximas 24 horas.'

= 'Se você não solicitou a redefinição de sua senha, ignore este e-mail.'

= `Redefinir sua senha ${action_url}`

= 'Obrigado,'
= 'Equipe HANIoT'
