= `Prezado(a), ${name}. `
= 'Recentemente, a senha de sua conta na plataforma HANIoT foi alterada. Se não tiver solicitado a alteração da senha, contate imediatamente o administrador para que medidas de segurança sejam tomadas.'

= 'Se foi você que realizou a alteração de sua senha, estar tudo certo :)'

= 'Obrigado,'
= 'Equipe HANIoT'
